<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body><center>
<h1>Register</h1>
<form method="POST" action="\from">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }} <br>
    {{ form.username.label }}
    {{ form.username }} <br>
    {{ form.email.label }}
    {{ form.email }} <br>
    {{ form.password.label }}
    {{ form.password }} <br>
    <input type="submit" value="Submit"></center>>
</form>
</body>
</html>