<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Register</title>
    </head>
    <body>
        <center><h1>Register Member</h1></center><br>

    <form action ="/" method="post"><center>
        Name: <input type = "text" name = "name">  <br>
        Surename:<input type = "text" name = "surename"> <br>
        Username: <input type = " text" name = "username"> <br>
        E-mail: <input type = "email" name = "email"> <br>
        Password <input type = :password" name = "pword"> <br>
        <input type = "submit" value = "Submits" > </center>

    </form>

    </body>
</html>