<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register Member</h1><br>

    <form>
        Name: <input type = "text" name = "fname"> Surename:<input type = "text" name = "lname"> <br>
        Username: <input type = " text" name = "uname"> <br>
        E-mail: <input type = "text" name = "email"> <br>
        Password <input type = :password" name = "pword"> <br>
        <input type = "submit" value = "Submits" />

    </form>

    </body>
</html>